---
import { Image } from 'astro:assets'
import Whatsapp from '../../assets/icons/Whatsapp.astro'
import WhatsappImage from '../../assets/icons/whatsapp.png'
---

<a
  class='whatsapp-button-container'
  target='_blank'
  href=`https://wa.me/5493442490242?text='Hola'`
>
  <div class='wap-content'>
    <!-- <Whatsapp color='var(--color-light-gray)' size={36} /> -->
    <figure class="wap-image-container">
      <Image class='wap--image' src={WhatsappImage} alt=""/>
    </figure>
    <span>Trabajemos juntos</span>
  </div>
</a>

<style>
  .whatsapp-button-container {
    position: absolute;
    right: 0;
    top: -25px;
    background-color: var(--color-primary);
    max-width: fit-content;
    padding: 1em 1.5em;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .wap-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
  }

  .wap-image-container{
   height: 40px;
   width: 40px;
  }
  .wap--image{
   height: 100%;
   width: 100%;
   object-fit: cover;

  }
  span {
    font-family: var(--font-secondary);
    color: var(--color-light-gray);
    font-size: var(--fs-body);
    font-weight: 600;
  }

  
</style>
