---

const {
   bgColor = "var(--color-primary)",
   textColor = "var(--color-white)",
   image,
   title,
   text,
} = Astro.props;

const styles = {
   backgroundColor: bgColor,
   color: textColor,
}
---

<article style={styles}>
   {image && 
      <figure>
         <img src={image} alt='icono' />
      </figure>}

   <div class="reaches-card-content-container">
      <div class="reaches-card-content--texts">
         <h3>{title}</h3>
         <p>{text}</p>
      </div>
      <slot />
   </div>
</article>

<style>
   article {
      width: 100%;
      min-height:275px;
      padding: 20px;
      display: grid;
      grid-template-columns: 200px 1fr;
      align-items: flex-start;
      gap: 40px;
   }

   figure{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
   }

   figure img{
      object-fit: cover;
      max-height: 60%;
      width: auto;
   }
   
   .reaches-card-content-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
   }

   .reaches-card-content--texts{
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   .reaches-card-content-container p{
      line-height: 1.5rem;
   }

   @media (width < 992px) {
      article{
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      figure{
      width: auto;
      height: unset;
      }

      figure img{
      object-fit: cover;
      max-height: 200px;
      height: 200px;
      width: auto;
   }

   .reaches-card-content-container{
      align-items: center;
      gap: 40px;
   }

   .reaches-card-content-container p{
      text-align: center;
   }
   }
</style>
