---
import { Image } from 'astro:assets'

const { img, title, href } = Astro.props
---

<a href={href}>
  <figure class='banner-logo'>
    <Image src={img} alt={`${title} image`} width={200} />
  </figure>
  <div class='banner-title'>
    <h3>{title}</h3>
  </div>
</a>

<style>
  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    height: fit-content;
    max-height: 360px; /* Ajusta esta altura según tus necesidades */
    .banner-logo {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .banner-title {
      text-align: center;
      h3 {
        text-align: center;
        word-wrap: break-word;
        font-size: var(--fs-l);
        margin: 0; /* Ajusta este valor según sea necesario */
        font-family: var(--font-secondary);
        font-weight: bold;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .banner-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      img {
        width: 200px;
        height: 200px;
      }
    }
  }

  @media (max-width: 768px) {
    article {
      display: grid;
      place-items: center;
      gap: 1.2em;
      width: min-content;
      img {
        width: 180px;
        height: 180px;
      }
      .banner-title {
        text-wrap: pretty;
        text-align: center;
      }
    }
  }
</style>
