---
import dedicated from '../../assets/navBarBanner/dedicated.svg'
import different from '../../assets/navBarBanner/different.svg'
import objectives from '../../assets/navBarBanner/objectives.svg'
import reaches from '../../assets/navBarBanner/reaches.svg'
import BannerItem from './BannerItem.astro'

import ColorBar from '../Header/ColorBar.astro'
import Container from '@components/Container/Container.astro'
const BANNERS = [
  {
    img: dedicated,
    title: '¿A qué nos dedicamos?',
    href: '#dedicamos'
  },
  {
    img: different,
    title: '¿Qué nos hace diferentes?',
    href: '#diferentes'
  },
  {
    img: objectives,
    title: 'Nuestros objetivos',
    href: '#objetivos'
  },
  {
    img: reaches,
    title: 'Alcances',
    href: '#alcances'
  }
]
---

<Container class='banner' id='servicios'>
  <div class='banner-container'>
    {BANNERS.map((banner) => <BannerItem {...banner} />)}
  </div>
  <ColorBar />
</Container>

<style>
  .banner {
    max-width: var(--maxWidthAverage);
    margin-inline: auto;
    position: relative;
  }
  .banner-container {
    margin-top: 2em;
    margin-inline: auto;
    padding: var(--layout-padding-y) var(--layout-padding-x);
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(4, 1fr);
    gap: 96px;
  }

  .banner-container > div:nth-child(4) {
    grid-row: span 2; /* Hacer que el cuarto div ocupe 2 filas */
  }

  @media screen and (max-width: 1272px) {
    .banner-container {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 2em;
    }
    .banner-container > div:nth-child(4) {
      grid-row: auto; /* Reiniciar el número de filas para el cuarto div a medida que el diseño cambia */
    }
  }

  @media screen and (max-width: 768px) {
    .banner-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      margin-top: 2em;
    }
  }
</style>
