
<div>
   <p>Productividad de procesos.</p>
   <p>Productividad del marketing..</p>
   <p>Productividad en la innovación.</p>
   <p>Productividad del conocimiento.</p>
</div>

<style>
   div{
      display: flex;
      flex-direction: column;
      gap: 20px;
      
}
</style>