---
// Componente creado para envolver contenido (similar al Row de bootsrap)
const { px = 0, py = 0, ...others } = Astro.props;

const styles = {
   padding: `${py}px ${px}px`,
};
---

<section {...others}>
   <slot />
</section>

<style>
   section {
      width: 100%;
      padding: var(--layout-padding-y) var(--layout-padding-x);
      display: flex;
      flex-direction: column;
      max-width: var(--maxWidthContainer);
   }
</style>
