---
const { item } = Astro.props
---

<section class="reaches-modal-container">
   <div class="reaches-modal--content">
      
   </div>
</section>

<style>
   .reaches-modal-container{
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--color-black-opacity);
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
   }

   .reaches-modal--content{
      width: 100%;
      max-width: 600px;
      height: 100%;
      overflow-y: auto;
   }

</style>