---
import { Image } from 'astro:assets'
import logo from '../../../public/logo.svg'

const styles = {
  header: {
    display: 'flex',
    justifyContent: 'space-between',
    alignItems: 'center',
    margin: '2em auto',
    width: 'var(--maxWidthContent)'
  }
}
---

<header style={styles.header}>
  <div>
    <Image src={logo} alt='Carlos Icardi Logo' />
  </div>
  <div>
    <nav class='menu'>
      <ul>
        <li><a href='#'>Inicio</a></li>
        <li><a href='#'>Nuestros Servicios</a></li>
        <li><a href='#'>Alcances</a></li>
        <li><a href='#'>Contactanos</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  nav ul {
    display: flex;
    gap: 64px;
    list-style: none;
  }
  nav li {
    color: var(--color-white);
    font-size: var(--fs-body);
    font-weight: bold;
    transition: transform 0.3s ease; /* Agregar una transición suave */
  }
  nav li:hover {
    transform: scale(1.2);
  }
</style>
